.input-full-width{
    width: 100%;
}

.form-container{
    width: 100%;
}

.btn-action-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn-action{
    width: 25%;
}

.card-title-container{
    width: 100%;
}

.done-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.done-card {
    max-width: 300px;
}

.done-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.questions{
    width: 100%;
}