.field-container{
    font-size: large;
}

.field-input{
    width: 100%;
}

.action-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.action{
    font-size: large;
}

.alert{
    color: red;
}

.dynamic-form-container{
    display: inline-block;
    width: 100%;
}

.dynamic-selector{
    width: 20%;
}

.dynamic-form{
    width: 60%;
}

.dynamic-action{
    width: 20%;
}