<div mat-dialog-content class="modal-container">
    <p>Register</p>
    <div>
        <mat-form-field appearance="legacy">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" [(ngModel)]="data.username">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [(ngModel)]="data.password">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Register</button>
</div>