<div mat-dialog-content class="modal-container">
    <h1>{{action.toUpperCase()}}</h1>
    <div *ngIf="action === 'register'" [action]="action">
        <div class="field-container">
            <mat-form-field appearance="legacy" class="field-input">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" [(ngModel)]="data.username" required email #name="ngModel">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                    <div *ngIf="name.errors.required">
                        Username is required.
                    </div>
                    <div *ngIf="name.errors.email">
                        Should be an email.
                    </div>
                </div>
            </mat-form-field>
        </div>
        <div class="field-container">
            <mat-form-field appearance="standard" class="field-input">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" [(ngModel)]="data.password" required type="password"
                    #password="ngModel">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                    <div *ngIf="name.errors.required">
                        Passoword is required.
                    </div>
                </div>
            </mat-form-field>
        </div>
        <div class="field-container">
            <mat-form-field appearance="fill" class="field-input">
                <mat-label>Date Of Birth</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="data.dob">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</div>
<div  *ngIf="action === 'refer'" [action]="action">
    <div class="field-container">
        <mat-form-field appearance="legacy" class="field-input">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" [(ngModel)]="data.username" required email #name="ngModel">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                <div *ngIf="name.errors.required">
                    Username is required.
                </div>
                <div *ngIf="name.errors.email">
                    Should be an email.
                </div>
            </div>
        </mat-form-field>
    </div>
    <div class="field-container">
        <mat-form-field appearance="legacy" class="field-input">
            <mat-label>Fullname</mat-label>
            <input matInput placeholder="Fullname" [(ngModel)]="data.fullName" required email #name="ngModel">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                <div *ngIf="name.errors.required">
                    Fullname is required.
                </div>
            </div>
        </mat-form-field>
    </div>
</div>

<div mat-dialog-actions class="action-container">
    <button mat-button (click)="onNoClick()" class="action">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial class="action">Register</button>
</div>