<div class="login-container" fxFlexFill fxLayoutAlign="baseline center">
    <mat-card class="login-card">
        <mat-card-header fxLayoutAlign="space-evenly baseline">
            <div mat-card-avatar class="login-header-image">
                <img mat-card-image src="../../assets/login-header-img.jpg">
            </div>
            <mat-card-title class="login-lable">Login With Spring Boot</mat-card-title>
            <mat-card-subtitle class="login-lable">Test Project With Angular Client</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="login-mat-content" fxLayoutAlign="space-evenly baseline">
            <div class="mat-login-forms">
                <form class="login-username">
                    <mat-form-field class="example-full-width">
                        <mat-label class="login-label">Your Username</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="Username">
                    </mat-form-field>
                </form>
                <form class="login-password">
                    <mat-form-field class="example-full-width">
                        <mat-label class="login-label">Your Password</mat-label>
                        <input matInput placeholder="Enter Your Password Here" value="**********" type="password">
                    </mat-form-field>
                </form>
            </div>
        </mat-card-content>
        <div class="mat-card-actions" fxLayoutAlign="center center">
            <mat-card-actions fxLayoutAlign="space-evenly center">
                <button mat-button>Login</button>
                <button mat-button>Forgot Password</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>