<div class="login-container" fxFlexFill fxLayoutAlign="baseline center">
    <mat-card class="login-card" fxLayout="column">
        <mat-card-header class="login-mat-header" fxLayoutAlign="space-evenly baseline">
            <div mat-card-avatar class="login-header-image">
                <img mat-card-image src="../../assets/login-header-img.jpg">
            </div>
            <mat-card-title class="login-lable">Login With Spring Boot</mat-card-title>
            <mat-card-subtitle class="login-lable">Test Project With Angular Client</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="login-mat-content" fxLayoutAlign="space-evenly baseline" style="font-size: 18px">
            <div class="mat-login-forms">
                <div class="mat-content">
                    <mat-toolbar color="primary">Login Section</mat-toolbar>
                </div>
                <div class="mat-content">
                    <form fxLayoutAligh="stretch" fxLayout="column" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
                        <mat-form-field class="example-full-width">
                            <mat-label class="login-label">Your Username</mat-label>
                            <input matInput placeholder="Username" formControlName="username">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label class="login-label">Your Password</mat-label>
                            <input matInput type="password" placeholder="Enter Your Password Here"
                                formControlName="password">
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </mat-card-content>
        <div class="mat-card-actions" fxLayoutAlign="center center">
            <mat-card-actions class="mat-card-actions-wrapper" fxLayout="row wrap" fxLayoutAlign="center baseline">
                <button class="mat-card-action" mat-raised-button type="submit" (click)="loginProcess()">Login</button>
                <button class="mat-card-action" mat-raised-button type="submit" (click)="registerProcess()">Register</button>
                <button class="mat-card-action google" mat-raised-button type="submit">Signin/Register With Google</button>
                <button class="mat-card-action facebook" mat-raised-button type="submit">Signin/Register With Facebook</button>
                <button class="mat-card-action" mat-raised-button type="submit">Forgot Password</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>