<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(!(isHandset$ | async) && isVisible()) !== false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']" routerLinkActive="router-link-active">Dash Board</a>
      <a mat-list-item [routerLink]="['/chat']">Contact</a>
      <a mat-list-item [routerLink]="['/private-chat']">Inbox</a>
      <a mat-list-item href="#">Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="isVisible()" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>JWT ADMIN CLIENT</span>
    </mat-toolbar>
    <mat-progress-bar class="example-margin" color="primary" mode="query" *ngIf="isProgressDisplay()">
    </mat-progress-bar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>